@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
* {
	font-family: 'Open Sans', sans-serif;
}

.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000000;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav  {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}
  
  
.card-footer {
    background-color: white;
    border-top: none;
}

.card p {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


#pastEvent {
  background-color: #f1f3f4;
}

.btn-outline-primary {
  border: none;
}